<a href="https://colab.research.google.com/github/efraimar/pandas_study/blob/main/semple_data_exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#תרגול ב pandas

In [4]:
import pandas as pd

In [5]:
import glob
Data_files = glob.glob("/content/sample_data/*.csv")

In [6]:
all_df = {}
for file in Data_files:
  all_df.update({file:pd.read_csv(file)})

In [10]:
all_df.keys()

dict_keys(['/content/sample_data/mnist_test.csv', '/content/sample_data/mnist_train_small.csv', '/content/sample_data/california_housing_test.csv', '/content/sample_data/california_housing_train.csv'])

#ניתוח מחירי דיור בקליפורניה
##טען את הנתונים, נקה אותם ונתח את מחירי הדיור לפי אזור.


1. טען את הנתונים
2. בדוק האם יש קורלציה בין ההכנסה החציונית למחיר הדיור
3.הצג את האזור עם המחיר החציוני הגבוה ביותר.
4.צור פילטר למציאת אזורים שבהם המחיר החציוני גדול מ-300,000.
5.הצג את הקורלציות בין מספר התושבים באזור (population) למחיר הדיור.

In [12]:
df_ch_train = all_df['/content/sample_data/california_housing_train.csv'] #1

In [19]:
df_ch_train.columns
median_ch_train = df_ch_train['median_house_value']
print(median_ch_train.max()) #3

500001.0

In [20]:
median_ch_train.corr(df_ch_train['median_house_value']) # 2

1.0

קיבלנו 1.0 שזה אומר שיש קורולציה חיובית.

In [37]:
above_300k = pd.DataFrame(df_ch_train[df_ch_train['median_house_value']>300000]) #4

In [38]:
above_300k

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
172,-116.26,33.65,3.0,7437.0,1222.0,574.0,302.0,10.2948,382400.0
187,-116.33,33.72,11.0,12327.0,2000.0,2450.0,1139.0,7.4382,353100.0
193,-116.37,33.69,7.0,8806.0,1542.0,858.0,448.0,7.8005,318100.0
210,-116.42,33.76,14.0,16921.0,2837.0,2524.0,1262.0,7.6281,341700.0
215,-116.43,33.75,24.0,2596.0,438.0,473.0,237.0,3.7727,500001.0
...,...,...,...,...,...,...,...,...,...
16642,-122.73,38.26,35.0,3941.0,645.0,1668.0,620.0,4.3850,317700.0
16672,-122.78,38.44,14.0,4143.0,656.0,1569.0,629.0,3.9766,345300.0
16694,-122.82,38.44,23.0,1551.0,236.0,555.0,243.0,4.6792,304700.0
16715,-122.85,38.37,16.0,1762.0,293.0,810.0,297.0,4.4437,305000.0
16776,-123.00,38.33,8.0,3223.0,637.0,851.0,418.0,5.6445,364800.0

In [39]:
df_ch_train["population"].corr(df_ch_train['median_house_value']) #5

-0.027850061120898374

קיבלנו ערך אפסי , שזה אומר שאין קורולציה בכלל.